#hello {
	text-shadow:$longshadow;
	color: #fff;
	font-size: 7em;
}

#i-am {
	margin: 90px 0;
	border: 8px $primary-color solid;
	padding: 15px;
	h4 {
		margin-bottom: 30px;
	}
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	#imlink {
		color: #666;
		height: 120px;
		padding-top: 20px;
		@-webkit-keyframes imhover {
			color: #fff;
			background: $primary-color;
		}
		&:hover {
			-webkit-animation: imhover 1s forwards;
			color: #fff;
			background: $primary-color;
			transition: .4s;
			i {
				zoom: 1.4;
			}
		}
	}
	i {
		font-size: 2em;
	}
}

