//about section
$lowenco-color: #00468e;
$heightnav: 80px;
$heightmenu: 140px;
$heightfooter: 60px;
@mixin middleHeight {
	height: calc(100% - (#{$heightnav} + #{$heightmenu} + #{$heightfooter})) ;
}
.about {
	@include middleHeight;
	padding-top: 0px;

	.description {
		padding-top: 5px;
		padding-left: 0px;
		padding-right: 0px;
			.writer {
				font-style: italic;
				font-size: 0.9em;
			}
			p {
				margin-right: 50px;
			}
	}
	.vertical {
		padding: 20px 0 0 0;
	}
	.tabs-content{
		padding-top: 10px;
		}
	.tabs dd{
		.product-icon {
			font-size: 30px;
			margin-right: 20px;
		}
		.product-icon-special {
			font-size: 32px;
			margin-right: 18px;
		}

		border-bottom: 1px solid #eee;
			> a:hover {
			background-color: white;
			}
			> a {
			background-color: white;
			}
				&.active{
					border-left: 5px solid $lowenco-color;
				}
	}
	.content {
		img {
			padding: 15px 35px 0 20px;
		}
	}
	@media (min-width: 700px) {
		.mobile-section {
			display: none;
		}
	}
	@media (max-width: 1024px) {
		.description {
			padding-left: 20px;
		}
		.content {
			img {
				display: none;
				padding: 10px 0px 5px 0px ;
			}
		}
	}
	@media (max-width: 700px) {
		.writer {
				font-weight: 400;
				font-style: italic;
			}
		.tabs {
			display: none;
		}
		.tabs-content .description {
			display: none;	
				}
		.mobile-section {
			.mobile-description {
				margin-right: 0px;
			}
		}
	}
}

//about END