body, html {
  height: 100%;
  min-height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  body p, body a, html p, html a {
    font-size: 14px; }
  body h3, html h3 {
    color: #333;
    font-weight: bold;
    font-size: 20px; }

button, .button {
  background-color: #00468e; }

.top-bar {
  background: #ccc;
  height: 45px; }

nav {
  top: 0;
  height: 80px;
  padding: 20px;
  border-bottom: 1px solid #00468e; }
  nav a {
    font-size: 12px; }
    nav a:not(:first-child) {
      margin-left: 15px; }

.home-image {
  height: calc(100% - (80px + 140px + 60px));
  background: url(../img/bigimage.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .home-image .accordion .content {
    background: rgba(255, 255, 255, 0.7); }
  .home-image .accordion dd {
    top: 50px;
    left: 40px;
    position: absolute; }
    .home-image .accordion dd > a {
      color: #fff;
      font-weight: bold;
      font-size: 1.5em;
      background: rgba(0, 0, 0, 0.5); }
  .home-image img {
    max-width: 100%; }

.about {
  height: calc(100% - (80px + 140px + 60px));
  padding-top: 0px; }
  .about .description {
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px; }
    .about .description .writer {
      font-style: italic;
      font-size: 0.9em; }
    .about .description p {
      margin-right: 50px; }
  .about .vertical {
    padding: 20px 0 0 0; }
  .about .tabs-content {
    padding-top: 10px; }
  .about .tabs dd {
    border-bottom: 1px solid #eee; }
    .about .tabs dd .product-icon {
      font-size: 30px;
      margin-right: 20px; }
    .about .tabs dd .product-icon-special {
      font-size: 32px;
      margin-right: 18px; }
    .about .tabs dd > a:hover {
      background-color: white; }
    .about .tabs dd > a {
      background-color: white; }
    .about .tabs dd.active {
      border-left: 5px solid #00468e; }
  .about .content img {
    padding: 15px 35px 0 20px; }
  @media (min-width: 700px) {
    .about .mobile-section {
      display: none; } }
  @media (max-width: 1024px) {
    .about .description {
      padding-left: 20px; }
    .about .content img {
      display: none;
      padding: 10px 0px 5px 0px; } }
  @media (max-width: 700px) {
    .about .writer {
      font-weight: 400;
      font-style: italic; }
    .about .tabs {
      display: none; }
    .about .tabs-content .description {
      display: none; }
    .about .mobile-section .mobile-description {
      margin-right: 0px; } }

.product {
  height: calc(100% - (80px + 140px + 60px));
  padding-top: 0px; }
  .product .description {
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px; }
  .product .content .product-picture {
    padding-right: 0px; }
  .product .content .product-description p {
    margin-bottom: 0px;
    padding-bottom: 8px; }
  .product .vertical {
    padding: 20px 0 0 0; }
  .product .tabs-content {
    padding-top: 10px;
    padding-right: 56px;
    margin-bottom: 0px; }
  .product .tabs dd {
    border-bottom: 1px solid #eee; }
    .product .tabs dd .product-icon {
      font-size: 30px;
      margin-right: 20px; }
    .product .tabs dd > a:hover {
      background-color: white; }
    .product .tabs dd > a {
      background-color: white; }
    .product .tabs dd.active {
      border-left: 5px solid #00468e; }

.generator {
  height: calc(100% - (80px + 140px + 60px)); }
  .generator .generator-box {
    height: auto; }
    .generator .generator-box h3 {
      padding-top: 5px; }
    .generator .generator-box > div {
      height: auto; }
      .generator .generator-box > div.right {
        padding-left: 40px; }
    .generator .generator-box #show {
      display: none; }
      .generator .generator-box #show p {
        margin: 0; }
      .generator .generator-box #show span {
        font-size: 2em;
        color: #00468e;
        cursor: pointer; }
    .generator .generator-box .tabs dd.active {
      border-bottom: 1px solid #00468e; }
    .generator .generator-box .tabs dd > a {
      padding: 1rem 1.5rem;
      font-size: .8rem; }

.menu {
  display: block;
  left: 0;
  bottom: 0; }
  .menu .menu-item {
    height: 140px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    border-top: none; }
    .menu .menu-item i, .menu .menu-item span {
      -webkit-font-smoothing: antialiased;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      color: #00468e;
      font-size: 4em;
      padding-top: 20px; }
    .menu .menu-item:hover, .menu .menu-item:active {
      background-color: #00468e;
      transition: .1s; }
      .menu .menu-item:hover h3, .menu .menu-item:hover i, .menu .menu-item:hover span, .menu .menu-item:active h3, .menu .menu-item:active i, .menu .menu-item:active span {
        color: #fff; }

footer {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  height: 60px;
  bottom: 10px;
  left: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 1024px) {
    footer {
      position: relative; } }
  footer p, footer a {
    color: #ccc;
    font-size: 12px;
    padding-left: 10px; }
