@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300&subset=latin,latin-ext);

html, body{margin:0; padding: 0; width: 100%; height: 100%; font-family: 'Open Sans', 'HelveticaNeue', 'Arial', sans-serif; font-weight: 400; color: #222; font-size: 14px;}

div#wrapper{margin: 0; padding: 0; position: relative; width:100%; min-height: 100%;}


div#menu{position: fixed; top:0; z-index: 50000; width: 100%; height: 70px; margin: 0 auto; background: #FFF; border-bottom: solid 1px #eaeaea;}
div#menu div.content{width: 100%; max-width: 1160px; height: 70px; margin:0 auto;}
div#menu div.content a.logo{display: inline-block; float: left; width: 127px; height: 44px; margin-top: 13px; background: url(../img/logo.png) no-repeat;}
div#menu div.content div.navigation{float: right; width: 750px; height: 70px; line-height: 70px; text-align: right;}
div#menu div.content div.navigation a.nav{color: #222 !important; font-size: 15px; text-decoration: none; margin:0 15px; outline:0;}
div#menu div.content div.navigation a.nav:hover{color: #67b346 !important;}
div#menu div.content div.navigation a.nav.lang{margin:0 3px;}

div.section{position: relative;}
div.section div.gradientTop{position: absolute; top:0; width: 100%; height: 551px; background: url(../img/home-gradient-top.png) repeat-x center top;}
div.section div.gradientBottom{position: absolute; bottom:0; width: 100%; height: 577px; background: url(../img/home-gradient-bottom.png) repeat-x center bottom;}
div.section div.content{position: relative; z-index: 500; width: 100%; max-width: 1160px; height: 100%; margin:0 auto;}
div.section div.content div.bigTitle{font-size: 40px; color: #FFF;}
div.section div.content div.bigTitle a{color: #67b346;}

div.bigTitle.black{font-size: 40px; color: #222 !important;}
div.bigTitle.green{font-size: 25px !important; color: #5fb64b !important;}

div.section div.content div.leftSide{float: left; width: 50%; height: auto; max-height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
div.section div.content div.rightSide{float: right; width: 50%; height: auto; max-height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

div.section div.content div.leftSide div.title,
div.section div.content div.rightSide div.title{color: #FFF; font-size: 45px; font-weight: 600;}
div.section div.content div.leftSide div.title.sub{color: #FFF; font-size: 25px; margin-top: 20px;}
div.section div.content div.leftSide div.title.green,
div.section div.content div.title.green,
div.section div.content div.rightSide div.title.green{color: #67b346; font-size: 25px; margin-top: 50px;}
div.section div.content div.rightSide div.title.list {
	color: #FFF;
	font-size: 25px;
	margin-top: 50px;
	float: right;
	clear: both;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

div.how{width:100%; height: 300px; background: #f9f9f9; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
div.how div.step{position: relative; float: left; text-align: center; width: 20%; height: 300px; padding: 15px 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
div.how div.step p{margin: 0 0 15px 0; padding: 0; font-weight: 600; color: #222; font-size: 14px;}
div.how div.step > div.icon{position: absolute; top: 70px; left:0; width: 100%; margin:0 auto;}
div.how div.step > div.icon img{display: block; margin:0 auto;}
div.how div.step > span{display: block; width: 100%; font-size: 14px; position: absolute; top: 195px; left: 0; padding: 0 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

div.section div.content div.rightSide p.title.upper,
div.section div.content div.leftSide p.title.upper{font-size: 15px; text-transform: uppercase; font-weight: 600;}

div.section div.content div.rightSide div.makeMoney{width: 100%; height: 380px; padding: 20px; background: #f9f9f9; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
div.section div.content div.rightSide div.makeMoney div.box{float: left; width: 50%; height: 50%; padding: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
div.section div.content div.rightSide div.makeMoney div.box p{font-weight: 600; font-size: 14px; margin-bottom: 35px;}

ul{margin-top: 70px; list-style-image: url(../img/list-style.png);}
ul li{font-weight: 600; margin:5px;}

div.section div.content div.b_type{width: 23%; display: inline-block; vertical-align: top; height: 365px; color: #FFF;}
div.section div.content div.b_type div.name{font-size: 25px; margin-top: 30px; font-weight: 600; margin-bottom: 20px;}

div#footer{width: 100%; height: 100%; margin: 0 auto; background: #FFF;}
div#footer div.content{width: 100%; max-width: 1160px; height: 390px; margin:0 auto; text-align: center;} 
div#footer div.content div.column{display: inline-block; vertical-align: top; text-align: left; width: 33%; height: 390px; padding:100px 10px 0 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
div#footer div.content div.column div.info{font-size: 14px; color: #222222;}

div#footer div.content div.column div.type{width: 100%; height: 41px; margin-bottom: 45px; font-size: 14px; color: #222; background: url(../img/footer-contact.png) no-repeat; padding-left: 90px;}
div#footer div.content div.column div.type.phone{background-position: left bottom;}
div#footer div.content div.column div.type.mail{background-position: left 0; height: 39px;}
div#footer div.content div.column div.type.mail a{color: #222; text-decoration: none;}
div#footer div.content div.column p{margin:0; padding:0; font-size: 14px;}

a.social{display: inline-block; width: 27px; margin: 10px; height: 22px; background: url(../img/footer-social.png) no-repeat; text-decoration: none;}
a.social.twitter{background-position: 0 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
a.social.facebook{background-position: 0 bottom; height: 27px;  padding-top: 3.5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

form#subscribe{position: relative; width: 350px;}
form#subscribe input[type="text"]{width: 240px; height: 40px; color: #959595; border: solid 1px #959595; font-size: 14px; padding-left: 7px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: 'Open Sans', 'HelveticaNeue', 'Arial', sans-serif; }
form#subscribe input[type="submit"]{position: absolute; top:0; right:0; cursor: pointer; width: 120px; height: 40px; border:0; background: #67b346; color: #FFF; font-size: 14px; text-align: center;  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; font-family: 'Open Sans', 'HelveticaNeue', 'Arial', sans-serif; }

form#signin{position: relative; float: right; width: 427px; height:260px; padding: 20px 30px; background: #FFF; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
form#signin p{margin:0 0 25px 0; padding: 0; font-weight: 600;}
form#signin div.action{float: left; line-height: 40px;}
form#signin input[type="text"]{width: 365px; margin-bottom: 20px; font-size: 14px; height: 40px; color: #959595; border: solid 1px #959595; background: #f7f7f7; padding-left: 7px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: 'Open Sans', 'HelveticaNeue', 'Arial', sans-serif; }
form#signin input[type="submit"]{float: right; cursor: pointer; width: 120px; height: 40px; border:0; background: #67b346; color: #FFF; font-size: 14px; text-align: center;  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; font-family: 'Open Sans', 'HelveticaNeue', 'Arial', sans-serif; }

form#signin input[type="submit"]:hover, div#footer input[type="submit"]:hover {
	background-color: #61A346;
}

a.buttons{padding: 7px 10px; border: solid 2px #5fb64b; color: #5fb64b; text-decoration: none; font-size: 15px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
a.buttons.white{color: #FFF !important; border-color: #FFF;}

a.see-more {
	padding: 7px 50px;
	margin: 0 auto;
}

a{color: #61a742;}
a:hover,
a:active {
	color:#528B3B;
	border-color: #528B3B;
}
#stabs {
  position: absolute;
  left: 20%;
  top: 0px;
  z-index: 255;
}


#intro {
	min-height: 800px;
	background-image: url(img/raksts.png);
	background-image: -webkit-linear-gradient(left, rgb(95,182,75) 0%, rgb(153,201,132) 53%, rgb(128,190,101) 92%, rgb(103,179,70) 100%);
	background-image: -o-linear-gradient(left, rgb(95,182,75) 0%, rgb(153,201,132) 53%, rgb(128,190,101) 92%, rgb(103,179,70) 100%);
    background-image: linear-gradient(rgb(95,182,75) 0%, rgb(153,201,132) 53%, rgb(128,190,101) 92%, rgb(103,179,70) 100%);
}							

/* MODAL */
div#modal{width:100%; height: 100%; position: fixed; top:0; left: 0; z-index: 100000000; background: rgba(0,0,0,.7);}
div#modal div.box{width: 700px; height: 550px; position: absolute; top: 50%; left: 50%; margin-top: -275px; margin-left: -350px; background: #FFF; padding: 40px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
div#modal div.box div.close{position: absolute; top: 20px; right: 20px; cursor: pointer; width: 15px; height: 15px; background: url(../img/close-modal.png) no-repeat;}
