* {
	margin: 0;
	padding: 0;
}

.container {
	width: 100vw;
	min-height: 100vh;
	height: 100%;
	background: url(img/pattern.jpg);
	background-repeat: repeat;
	margin: 0 auto;
	text-align: center;
}

.left, .right {
	width: 100%;
	display: inline-block;
}
.right{
	padding-bottom: 100px;
}

.galva {
    width: 450px; 
    height: 450px;
    background: url(img/galva4.png) no-repeat;
    background-size: cover;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 30000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 40000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 40000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    margin-bottom: 50px;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform:rotate(360deg);
  }

  to {
    -webkit-transform:rotate(0deg);
  }
}