body, html {
	margin: 0;
	padding: 0;
}
body {
	background-color: gray;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}

#header {
	position: absolute;
	z-index: 3;
	width: 1200px;
	display: block;
	left: 50%;
	margin-left: -600px;
}

#logo {
	margin-top: 21px;
	margin-left: 29px;
}

#header nav {
	float: right;
	margin-top: 50px;
}

#header nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
}
#header nav a:hover {
	border: solid #fff 3px;
}

/*clearfix*/
.clearfix {
	float: none;
	clear: both;
}

#socials {
	text-align: center;
	position: absolute;
	z-index: 10;
	width: 100%;
	bottom: 120px;
}
	#socials a {
		color: #fff;
		text-decoration: none;
	}
	#socials a:hover {
		color: red;
		transition:0.2s ease-out;
	}

#slides {
	position: relative;
}

#footer {
	position: absolute;
	z-index: 4;
	bottom: 0;
	width: 100%;
}

#footer span {
	color: white;
	font-size: 10px;
	float: right;
	margin: 40px;
}

iframe {
	width: 120%
}