@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
$background-color: #f9f6ec;
* {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
body, html {
	font-family: 'Lato', sans-serif;
	background: $background-color;
	font-color:#333;
	text-align: center;
	line-height: 1.5em;
}

.row {
	max-width: 1200px;
}
.topbar {
	height: 100px;
	li {
		display: inline-block;
	}	
}

#logo {
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	font-weight: bolder;
	text-transform: uppercase;
	color: #333;
}

.article {
	.pic {
		opacity: 0.8;
		padding: 0;
		background: url(images/bg.jpg) no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.info {
		background-color: #fff;
		height: 400px;
	}
}

.info {
	.description {
		.title {
			padding-top: 80px;
			font-size: 26px;
			line-height: 1.5em;
		}
		.client {
			font-size: 14px;
			color: #808080;
		}
		.text {
			margin: 20px;
		}
	}
}