* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #eaeaea;
  font-family: 'Space Mono', monospace;
}

h2 {
  text-align: center;
  margin: 80px 0;
  color: #555;
}

.subtext {
  font-size: 12px;
  color: #777;
  text-align: right;
  margin: 8px 0;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 40px;
  box-sizing: border-box;
}

.video-container {
  max-width: 360px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 80px;
}

video {
  margin: 0 auto;
  border-radius: 25px;
}

.links-center {
  text-align: center;
  margin: 10px 0 100px 0;
}

#stamp {
  margin: 0 auto;
  display: block;
}
