.products {
  height: calc(100% - (80px + 140px + 60px)); }
  .products .tabs-content.vertical {
    width: 70%; }
    .products .tabs-content.vertical .content {
      padding: 1;
      width: 100%; }
  .products .tabs dd a {
    background-color: #fff;
    border-bottom: 1px solid #eee; }
    .products .tabs dd a:hover {
      background-color: #eee; }
  .products .tabs dd.active a {
    border-left: 5px solid #00468e; }
  .products .tabs.vertical {
    width: 30%; }

.menu {
  display: block;
  left: 0;
  bottom: 0; }
  .menu .menu-item {
    height: 140px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    border-top: none; }
    .menu .menu-item i, .menu .menu-item span {
      -webkit-font-smoothing: antialiased;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      color: #00468e;
      font-size: 4em;
      padding-top: 20px; }
    .menu .menu-item:hover, .menu .menu-item:active {
      background-color: #00468e;
      transition: .1s; }
      .menu .menu-item:hover h3, .menu .menu-item:hover i, .menu .menu-item:hover span, .menu .menu-item:active h3, .menu .menu-item:active i, .menu .menu-item:active span {
        color: #fff; }
